<% title "Counties" %>
<h3 style="text-align: center"><b>Image Server Folders for <%= @chapman_code%>. </b></h3>
<div  class="text--center"> 
 <%= link_to 'Finished', :close_freereg_image, method: :get,data: { confirm: 'Are you sure?' }, :class => "btn weight--light btn--small" %> 
</div>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
  </div>
<% end %>
<div style="clear:both;"> </div><br>
<div >
<table  class=" table--bordered my-width table--data just--center"  style="width:50%;margin: 0 auto">
  <tr>
    <th>County</th>
    <th>Action</th>
    <th></th>
    <th></th>
  </tr>

<% @counties.each do |county| %>
  <tr>
    <td><%= county %></td>
    <td> <%= button_to 'Show Registers', register_folders_freereg_image_path, params: {:county => county}, method: :get, :class => 'btn'%></td>
     <td></td>
      <td></td>
  </tr>
<% end %>
</table>
</div>