<% title "Images" %>
<h3 style="text-align: center"><b>Images on the Image Sever for <%= @register%> in <%= @county%> </b>.</h3>
<div style="clear:both;"> </div><br>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
  </div>
<% end %>

<table >
  <tr>
    <th>Imagess</th>
    <th colspan = "3">Actions</th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= image %></td>
    <td> <%= link_to 'View Image', view_freereg_image_path(:chapman_code => @county, :folder_name => @register, :image_file_name => image), method: :get%></td>
    <td> <%= link_to 'Download Image', download_freereg_image_path(:chapman_code => @county, :folder_name => @register, :image_file_name => image), method: :get%></td>
    <td></td>
  </tr>
<% end %>

</table>