<% title "Images" %>
<h3 style="text-align: center"><b>Images on the Image Sever for <%= @register%> in <%= @county%> </b>.</h3>
<div style="clear:both;"> </div><br>
<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
  </div>
<% end %>

<table  class=" table--bordered my-width table--data just--center"  style="width:50%;margin: 0 auto">
  <tr>
    <th>Images</th>
    <th colspan = "3">Actions</th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= image %></td>
    <td> <%= button_to 'View Image', view_freereg_image_path,  params: {:chapman_code => @county, :folder_name => @register, :image_file_name => image,:image_server_access => Rails.application.config.image_server_access}, method: :get, :class => 'btn'%></td>
    <td> <%= button_to 'Download Image', download_freereg_image_path,  params: {:chapman_code => @county, :folder_name => @register, :image_file_name => image,:image_server_access => Rails.application.config.image_server_access}, method: :get, :class => 'btn'%></td>
    <% if (session[:role] == 'data_manager' ||  session[:role] == 'system_administrator') &&  !session[:manage_user_origin] == 'manage county'%>
    <td> <%= button_to 'Remove Image', remove_image_freereg_image_path,  params: {:chapman_code => @county, :folder_name => @register, :image_file_name => image,:image_server_access => Rails.application.config.image_server_access}, method: :get, :class => 'btn' ,
    data: { confirm:  'Are you sure you want to remove this image?' }%> </td>
    <% end %>
    <td></td>
  </tr>
<% end %>

</table>