<% title "Images" %>
<h3 style="text-align: center"><b>Images on the Image Sever for <%= @register%> in <%= @county%> </b>.</h3>
<div  class="text--center"> 
 <%= link_to 'Finished', close_freereg_image_path, method: :get,data: { confirm: 'Are you sure yoyu are finished?' }, :class => "btn weight--light btn--small" %> 
  <%= link_to 'Counties', access_freereg_image_path(:chapman_code => session[:county_chapman_code], :image_server_access => Rails.application.config.image_server_access ), method: :get, :class => "btn weight--light btn--small" %> 
    <%= link_to 'Registers', register_folders_freereg_image_path(:county => session[:register_chapman_code]), method: :get, :class => "btn weight--light btn--small" %> 
</div>


<% if flash[:notice] %>
  <div id="notice" style="color:blue"><br>
  <%= flash[:notice] %>  <% flash[:notice] = nil%> <br>
  </div>
<% end %>
<div style="clear:both;"> </div><br>
<table  class=" table--bordered my-width table--data just--center"  style="width:50%;margin: 0 auto">
  <tr>
    <th>Images</th>
    <th> Thumbnail (for image files}</th>
    <th colspan = "3">Actions (View will only display jpg images, others will be Downloaded)</th>
  </tr>
<% @images.each do |image| %>
  <tr>
    <td><%= image %></td>
    <td> <%= image_tag(@thumbnails[ image ]) unless@thumbnails[ image ].nil? %></td>
    <td> <%= button_to 'View Image', view_freereg_image_path,  params: {:chapman_code => @county, :folder_name => @register, :image_file_name => image,:image_server_access => Rails.application.config.image_server_access}, method: :get, :class => 'btn'%></td>
    <td> <%= button_to 'Download Image', download_freereg_image_path,  params: {:chapman_code => @county, :folder_name => @register, :image_file_name => image,:image_server_access => Rails.application.config.image_server_access}, method: :get, :class => 'btn'%></td>
    <td></td>
  </tr>
<% end %>

</table>

