<p id="notice"><%= notice %></p>

<h1>Listing Manage Freereg Images</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manage_freereg_images.each do |manage_freereg_image| %>
      <tr>
        <td><%= link_to 'Show', manage_freereg_image %></td>
        <td><%= link_to 'Edit', edit_manage_freereg_image_path(manage_freereg_image) %></td>
        <td><%= link_to 'Destroy', manage_freereg_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manage freereg image', new_manage_freereg_image_path %>
