<% title "Upload Images" %>
<% if @manage_freereg_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manage_freereg_image.errors.count, "error") %> prohibited this manage_freereg_image from being saved:</h2>

      <ul>
      <% @manage_freereg_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h3 style="text-align: center">Upload Freereg Images Files for <%= @chapman_code%>,  <%= @place%>, <%= @church%>, Register Type of <%= @register_type%> </h3>
<h4 style="text-align: center">To be stored in the folder   <%= @chapman_code%>/<%= @folder_name %> on the Image Server</h4>
 <div  style="text-align: center">
<%= form_for(@manage_freereg_image, :html => {:multipart => true}) do |f| %>
 <%= f.file_field :freereg_images, multiple: true, class: "btn"  %><br><br>
  <div class="actions">
    <%= f.submit  'Upload', class: 'ladda-button' , "data-style" => "contract" ,"data-color" =>"green" , "data-size" => "s", "data-spinner-color" => "#ffffff"    %>
  </div>
<% end %>
</div>
<script type="text/javascript">
      Ladda.bind( 'input[type=submit]' );
</script>

