<% title "Upload Images" %>
<% if flash[:notice] %>
  <div id="notice" style="color:red">
 
  <div Style="  text-align: center ">
    <%= flash[:notice] %><% flash.clear %>
  </div></div><br>
<% end %>
<h3 style="text-align: center">Upload Freereg Images Files for <%= @chapman_code%>,  <%= @place%>, <%= @church%>, Register Type of <%= @register_type%> </h3>
<h4 style="text-align: center">To be stored in the folder   <%= @chapman_code%>/<%= @folder_name %> on the Image Server</h4>
 <div  style="text-align: center">
<%= form_for(@manage_freereg_image, :html => {:multipart => true}) do |f| %>
 <%= f.file_field :freereg_images, multiple: true, class: "btn"  %><br><br>
  <div class="ladda-label">
    <button type="submit" class="ladda-button" data-style= "contract" data-color="green" data-size= "l" data-spinner-color= "#ffffff"><span class="ladda-label">Upload</span></button> 
 
  </div>
<% end %>
</div>

<script src= "/assets/spin.min.js"></script>
<script src= "/assets/ladda.min.js"></script>
<script type="text/javascript">
      Ladda.bind( '.ladda-button' );
</script>

