<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "freereg_content" %>
  <%= stylesheet_link_tag "ladda.min" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "spin.min.js" %>
  <%= javascript_include_tag "ladda.min.js" %>
 
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
